// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-area {
  width: 550px;
  height: 150px;
  font-size: 20px;
  background: #fff;
  border: 1px dashed cornflowerblue;
}