// Place all the styles related to the notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notification-btn {
  background: linear-gradient(to right, #feb400, #FFE300);
  color: #6d3701;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}