// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header{
  height: 60px;
}

body{
  background: linear-gradient(to top, rgba(196, 229, 233, 0.7), whitesmoke, rgba(196, 229, 233, 0.7) 100%);
}

.field {
  font-size: 20px;
  &__circle-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
  &__dropzone {
    display: block;
    margin: 0 auto;
  }
}

.user_info {
  margin: 30px;
}

.main-title {
  font-size: 60px;
}

.title {
  font-size: 50px;
  font-weight: normal;
  color: darkgoldenrod;
  width: 500px;
  margin: 0 auto;
}

.header__bar.row {
  text-align: center;
}

.post {
  background-color: cornflowerblue;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.contents {
  text-align: center;
  &__pagenation {
    font-size: 30px;
    margin: 30px;
    color: cornflowerblue;
  }
  &__likes {
    font-weight: normal;
    font-size: 20px;
  }
}

.description{
  &__text {
    margin: 0 50px;
    &__main {
      color: red;
    }
  }
}

.btn__details {
  text-decoration: none;
  color: cornflowerblue;
  background: whitesmoke;
  font-size: 30px;
  font-weight: bold;
  padding: 5px;
}

.details {
  background-color: #fff;
  width: 600px;
  margin: 0 auto;
  padding: 30px;
  &__title {
    color: darkgoldenrod;
    font-size: 40px;
  }
  &__text {
    font-size: 20px;
  }
  &__posttimezone {
    margin-top: 20px;
  }
  &__userinfo {
    color: black;
    text-decoration: none;
    text-align: center;
  }
  &__timezone {
    font-size: 10px;
    margin-left: 20px;
  }
  &__comment {
    font-size: 15px;
    margin: 25px;
  }
  &__box_button_like {
    display: inline-block
  }
}

.input__title {
  font-size: 30px;
  width: 500px;
  background-color: #fff;
  border: 1px dashed #ccc;
}

.input__text {
  font-size: 20px;
  background-color: #fff;
  border: 1px dashed #ccc;
}

.input__search {
  font-size: 25px;
  width: 300px;
  background-color: #fff;
  border-color: whitesmoke;
}

textarea {
  background-color: aliceblue;
}

.icon_image {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  object-fit: cover;
}

.liked-users {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  object-fit: cover;
}

.hissu {
  padding: 5px;
  background-color: red;
  color: #fff;
}

.like_button{
  width: 110px;
  background: lightgray;
  line-height: 42px;
  color: #6d3701;
  font-size: 14px;
  display: inline-block;
  padding: 0 18px;
  border-radius: 100px;
  font-weight: bold;
}

.like_button_on{
  width: 110px;
  background: linear-gradient(to right, #feb400, #FFE300);
  line-height: 42px;
  color: #6d3701;
  font-size: 14px;
  display: inline-block;
  padding: 0 18px;
  border-radius: 100px;
  font-weight: bold;
}

.dropzone-container {
  margin: 0 auto;
  display: flex;
  height: 160px;
  width: 610px;
  background: #fff;
  border: 1px dashed #ccc;
}

.dropzone-area {
  height: 160px;
  width: auto;
  overflow: hidden;
}

.upload-image {
  height: 160px;
  width: 600px;
}

#exhibit-images-preview {
  display: flex;
}

.sell-uploads-drop {
  padding: 5px;
}

.sell_upload__area {
  display: flex;
  height: 160px;
}

.img_view {
  padding: 5px;
}

.box{
  width: 700px;
  margin: 0 auto;
  background: #fff;
  &__form-list{
    height: auto;
    overflow: hidden;
    width: 700px;
    &__upload-box{
      padding: 40px 40px 40px 40px;
      height: auto;
      overflow: hidden;
    }
  }
}

.xxxxxbtn {
  display: inline;
}

.xxxxxbtn.delete{
  float: right;
  margin-right: 10px;
  color: deepskyblue;
}

.xxxxxbtn.edit{
  margin-left: 10px;
  color: deepskyblue;
}

#edit-images-preview {
  display: flex;
}