// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header{
  height: 60px;
}

body{
  background-color: whitesmoke;
}

.main-title {
  font-size: 60px;
}

.title {
  font-size: 50px;
  color: darkgoldenrod;
}

.header__bar.row {
  text-align: center;
}

.post {
  background-color: cornflowerblue;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.contents {
  text-align: center;
  &__pagenation {
    font-size: 30px;
    margin: 30px;
    color: cornflowerblue;
  }
}

.description{
  &__text {
    margin: 0 50px;
    &__checkbox {
      width: 800px;
    }
    &__main {
      color: red;
    }
  }
}

.btn__details {
  text-decoration: none;
  color: cornflowerblue;
}

.details {
  background-color: #fff;
  width: 600px;
  margin: 0 auto;
  padding: 30px;
  &__title {
    color: darkgoldenrod;
    font-size: 40px;
  }
  &__text {
    font-size: 20px;
  }
  &__posttimezone {
    margin-top: 20px;
  }
  &__username {
    color: red;
    margin-left: 20px;
  }
  &__timezone {
    font-size: 10px;
    margin-left: 20px;
  }
  &__comment {
    font-size: 15px;
    margin: 25px;
  }
}

.input__title {
  font-size: 20px;
  background-color: aliceblue;
}

.input__text {
  font-size: 20px;
}

textarea {
  background-color: aliceblue;
}